@model PageViewModel

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Book.Image" alt="@Model.Book.Name"/>
    <h2> Модель: @Model.Book.Name</h2>
    <p>@Model.Book.ShortDescription</p>
    <p>@Model.Book.LongDescription</p>
    <p>Цена: @Model.Book.Price.ToString("c")</p>
</div>